pulleye.scad
BOSL2
.DS_STORE
*.stl
converter/input/*.jpg
converter/input/*.jpeg
converter/input/*.png
converter/input/*.webp
converter/input/*.tif
converter/input/*.tiff
converter/output/*.png
converter/output/*.jpg
converter/output/*.jpeg
converter/output/*.webp
converter/output/*.tif
converter/output/*.tiff
!converter/input/.keep
!converter/output/.keep